
#createretrobackground{
    background-image: url("./background.png");
    background-repeat: no-repeat,repeat;
    background-size: 58% 950px;
    background-position: right;
    height: 950px;
}


#inviteretro{
    background-image: url("./inviteretro.png");
    background-repeat: no-repeat,repeat;
    background-size: 67% 950px;
    background-position: right;
    height: 950px;
}

.dropdown-menu{
    font-size: 20px
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #427afa;
    cursor: default;
    border-bottom-color:#427afa;
    border-bottom-width: 5px;
    font-weight: bold;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}

.nav>li>a{
    color: grey;
}

.nav-tabs>li{
    margin-bottom: -1px;
    display: inline-flex;
    width: 10%;
    justify-content: center;
}

.nav-tabs{
    
    width: 100%;
    display: inline-flex;
    justify-content: center;
}


/* .btn-default{
    color: cornflowerblue;
    border-color: cornflowerblue
} */


.btn-default.focus, .btn-default:focus{
    border-color: cornflowerblue
}

#editbutton{
    background-color:#3b75fa;
    color: white 
}


.createtap2Main {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.createtap2left {   
    width: 49%;
    padding: 5% 0px 0px 10%;
    display: flex;
    flex-direction: column;
}
.createtap2h3 {
    font-size: 24px;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.createtap2input {
    padding: 4px 11px;
    font-size: 23px;
    border: 1px solid #ffffff;
}
.createtap2rinput {
    padding: 4px 11px;
    font-size: 23px;
    width: 80%;
    border: 1px solid #e7e6e6;
    background-color: #e7e6e6;
}
.createtap2button {
    width: 20%;
    padding: 8px 8px;
    background-color: #f88440;
    border: 1px solid #f88440;
    color: #ffffff;
    font-size: 19px;
}
.createtap2email {
    display: flex;
    justify-content: space-between;
    width: 67%;
    color: #56ad55;
    font-size: 20px;
}
.createtapx {
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.createtabe {
    color: #ffffff;
    font-size: 20px;
}
.createtabAspan {
    color: #ffffff;
    margin-right: 21px;
    background-color: #f88440;
    padding: 4px 6px;
    border-radius: 103.5%;
}
.createtap2right {
    width: 40%;
    padding: 5% 0px 0px 12%;
    display: flex;
    flex-direction: column;
}
.createtap2rh1 {
    font-size: 30px;
    font-weight: lighter;
    font-family: sans-serif;
    letter-spacing: 2px;
}
.createtap2rh3 {
    font-size: 18px;
    color: #31318d;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.createtap2ri {
    padding: 6px 0px;
    font-size: 20px;
    width: 119px;
    background: #e7e6e6;
    border: 1px solid #e7e6e6;
}
.createtap2top {
    position: absolute;
    padding: 0px 7px;
}
.verticalline {
    padding: 0px 5px;
    border-radius: 100%;
    background-color: #25496e;
    margin-right: 5px;
    color: #ffffff;
    font-size: 14px;
}
.tip {
    color: #25496e
}
.codecutomize {
    color: gray;
    margin-left: 7px;
}
.schedule {
    display: flex;
    margin-top: 44px;
}
.clearp {
    display: flex;
    padding: 2px 19px;
    border-radius: 10px;
    color: #f88440;
    border: 3px solid oldlace;
    font-size: 15px;
    margin: 12px;
    margin-left: 180px;
}
.createtap2rh4 {
    margin: 0px;
    padding: 0px
}
#inviteretro>div{
    background-color: transparent !important;
}

#createretrobackground >div{
    background-color: transparent !important;
}
#inviteretro>div{
    background-color: transparent !important;
}
.creattap2btn {
    position: absolute;
    bottom: -10%;
    background-color: #f88440;
    color: #ffffff;
    left: 50%;
    border-radius: 11px;
    border: 1px solid #f88440;
    font-size: 20px;
    padding: 10px 69px;
}
.tap2dropdown {
    display: flex;
    justify-content: space-between;
    /* / width: 60%; / */
    margin-top: 5px
}
.tabselect {
    padding: 10px 20px;
    background-color: #e7e6e6;
    border: 1px solid #e7e6e6;
    font-size: 20px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.tap2to {
    font-size: 28px
}
.tap2option {
    font-size: 20px;
}
.tap2date {
    width: 152px;
    background-color: #e7e6e6;
    border: 1px solid #e7e6e6;
    font-size: 20px;
}
.afterclickshow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    /* / width: 60%; / */
    font-size: 22px;
}
.tap2repeat {
    margin-left: 8px;
}
.tab2endon {
    display: flex;
    justify-content: flex-end;
    /* / width: 60%; / */
    margin-top: 11px;
}
.tab2ends {
    align-items: center;
    color: gray;
    font-size: 22px;
    margin-right: 20px;
}
.createtapwho {
    margin-top: 26px;
}
.tab2table {
    width: 70%;
}
.tab2tabletd {
    font-size: 19px;
    font-weight: bold;
    color: #56ad55;
    font-family: sans-serif;
}
.tab2tabletd2 {
    padding-top: 30px;
}